/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

ul li{
    display: inline-block;
}

/* UTILS */

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0px;
}

/* HEADER */

.page-header {
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
}


.top-header .row .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-header .row .container div {
    font-size: 1rem
}

.top-header .logo-header {
    width: 25%;
    padding: 20px 0
}

.top-header .logo-header img {
    text-align: left;
}

.top-header .links-header {
    color: white;
    width: 50%;
    text-align: center;
}

.top-header .links-header ul {
    display: flex;
    justify-content: space-around;
}

.top-header .login-header {
    width: 25%;
    display: flex;
    justify-content: flex-end;
}

.login-header > .btn-login {
    background-color: white;
    color: black;
    border-radius: 30px;
    padding: 7px 13px;
}

.bottom-header {
    padding: 120px 0;
    color: white;
}

h1{
    font-size: 3.2rem;
}

p {
    font-size: 1.3rem;
    line-height: 30px;
    padding-top: 50px;
}

.container.container-xs {
    text-align: center;
}

.container.container-xs p {
    padding: 50px 200px 0px 200px;
}

.btn-bottom-header {
    margin-top: 25px;
    border-radius: 30px;
    font-size: 1.5rem;
    padding: 0 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.btn1-header {
    border-radius: 30px;
    background-color: white;
    color: black;
    padding: 15px 20px;
}

.btn2-header {
    border-radius: 30px;
    background-color: #23272A;
    color: white;
    padding: 15px 20px;
}

/* MAIN */

.page-content > .section {
    padding: 20px 0;
    display: flex;
}

.page-content > .section:nth-child(odd) {
    background-color: white;
}

.page-content > .section:nth-child(even) {
    background-color: #F6F6F6;
}

.page-content > .section:nth-child(even) .container.content {
    flex-direction: row-reverse;
}

.section .container.content{
    padding: 100px 0;
    display: flex;
}

.col-img {
    width: 60%;
    text-align: left;
}

.col-text {
    width: 40%;
    text-align: left;
    padding: 50px 20px;
}

.col-text h1 {
    font-size: 3.2rem;
}

.container.big-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container.big-content div{
    text-align: center;
    width: 100%;
}

.container.big-content img{
    width: 100%;
}

.row-text {
    padding: 0 70px;
}

.bottom-row {
    background-image: url(../img/stars.svg);
    font-size: 2rem;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 20px;
}

.bottom-btn {
    margin-top: 20px;
    border-radius: 30px;
    background-color: #7289DA;
    color: white;
    padding: 15px 20px;
    font-size: 1.5rem;
    max-width: 40%;
}

.bottom-content{
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* FOOTER */

.section-footer {
    background-color: #23272A;
    height: 600px;
}

.container.footer-content {
    height: 500px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 10px;
    border: 1px dashed black;
}

.container.footer-content .pics-footer {
    width: 28%;
    background-color: #F08180;
    border: 2px dashed black;
}

.container.footer-content .links-footer {
    background-color: #20B3AA;
    width: 18%;
    border: 2px dashed white;
}

.container.last-section {
    height: 60px;
    background-color: #7FFFD4;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.small-footer {
    height: 50%;
    background-color: #FEB6BF;
    border: 2px dashed black;
    align-content: center;
}